html{
    scroll-behavior: auto !important;
}

body{
    font-family: "Patrick Hand";
}

/*navbar  #0dd2bb*/
.navbar{
    background-color: #e37222;
    position:fixed;
    width: 100vw;
    z-index: 1;
}
.navbar-brand{
    font-family: "Roboto";
    font-weight: 700;
}
#logoNavbar{
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
}
/*sobre mi*/
#Presentacion{
    background-color: #abd5e6;
    line-height: 2;
    color: black;
    
}    
#Presentacion img{
    width: 100%;
}
#habilidadesTecnicas{
    background-color:#07889b;
    color: #abd5e6;
}
#educacion{
background-color: #66b9bf;
color: #abd5e6;
}

#talleresYCursos{
background-color: #eeaa7b;
color: #abd5e6;
}

.titulo1{
    font-family: "Roboto";
    text-decoration-line: underline;
}
#elCss{
    color: green;
}

#trabajos{
    background-color:#07889b;
}



/* habilidades tecnicas*/
#logoDjango{
    height: 60pt;
}

#experiencia{
    background-color:beige;
}

.letraChica{
    font-size: medium;
}
.cargo{
    color: blue;
     }
.empresa{
    color:brown;
    
}

#footer{
    background-color: #e37222;
}
#footer a{
    color:beige;
    text-decoration: none;
}